.logo-links{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }
  .logo-links > div{
    margin: 0.5vw;
  }
  .down{
    width:4vw;
    margin-bottom: -50vh
  }

  .blueIcons .social-svg{
    color: #BBC7CC;
  }
  .yellowIcons .social-svg{
    color: #55acee;
  }